p, ul {
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 0;
    list-style-type: none;
}

li font {
    color:rgb(235, 147, 16);
}

.staking {
    margin-top: 80px;
}

.staking_content {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin: 5px;
}

.rewards_to_collect {
    margin-top: 10px;
}

.stakingText {
    max-width: 50%;
    min-width: 50%;
    max-height: 35px;
    color: silver;
    opacity: 0.8;
}

.notification {
    /* color: magenta !important; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
}